# .env.example - Configuración para el despliegue
# Instrucciones: Renombrar este archivo a .env y ejecutar 'docker compose up -d'

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=df0980c6579f64f7b6b8f36c53e8787f
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Para Docker, el host debe ser el nombre del servicio: "database"
# Estructura: postgresql://usuario:contraseña@host:puerto/nombre_bd
DATABASE_URL="postgresql://app:!ChangeMe!@database:5432/app?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> CONFIGURACIÓN DE CONTENEDOR POSTGRES ###
# Estos valores los usa el compose.yaml para levantar la base de datos
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=!ChangeMe!
###< CONFIGURACIÓN DE CONTENEDOR POSTGRES ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
# MAILER_DSN=null://default
###< symfony/mailer ###